*.egg
.idea
.eggs
*.egg-info
/models
build/
__pycache__
*.pyc
data
.pytest_cache
*.7z
experiments/
_README.md
BACKGROUND.md
EXPERIMENTS.md
WIKIPEDIA.md
xp_cmd_final.txt
xp_cmd.md
XP2.md
XP.bak.md
dist
run_n2v.sh
test_n2v.sh
RELEASE.md
XP.md
SRW-XP-cmd.md
SRW-XP-results.md
